/* "Small" Screen Mode */

@media (max-width: 1640px)
{
    main
    {
        width: 100%;
    }
    
    aside
    {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        padding-top: 70px;
        min-height: 100vh;
        margin: 0;
        z-index: 10;
        background-color: var(--smallScreenLiveColour);
        visibility: hidden;
    }

    #LivePanelControls
    {
        position: absolute;
        padding: 1px;
        margin-top: 10px;
        margin-left: 2px;
        z-index: 15;
        top: 0;
        left: 0;
    }

    #WidgetContainer
    {
        justify-content: center;
    }

    .LiveViewButton
    {
        visibility: visible;
    }
}