:root
{
    --brandColour: #252d5c;
    --smallScreenLiveColour: #586497EE;
    --headerFooterTextColour: #FFFFFF;
}

body
{
    font-family: Calibri, sans-serif;
    background-color: whitesmoke;
    font-size: 1em;
}

header
{
    background-color: var(--brandColour);
    color: var(--headerFooterTextColour);
    padding: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 2em;
    text-align: left;
    border-radius: 10px;
    position: static;
    top: 0;
    left: 0;
    right: 0;
}

.Logo
{
    float: left;
    width: 100px;
    padding-right: 30px;
}

main
{
    display: inline-block;
    width: 60%;
    text-align: left;
    margin-bottom: 45px;
}

.JobStatus
{
    padding: 4px;
    background-color: whitesmoke;
    border-radius: 9px;
}

.LockedText
{
    text-align: center;
    background-color: lightcoral;
    border-radius: 9px;
    padding: 3px;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

aside
{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 39%;
}

#LivePanelControls
{
    margin-top: 0.1em;
    padding: 0.4em;
    background-color: whitesmoke;
    border-radius: 9px;
}

.Widget
{
    padding: 10px;
}

#WidgetContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

iframe
{
    border-radius: 9px;
}

footer
{
    background-color: var(--brandColour);
    color: var(--headerFooterTextColour);
    padding: 0.2em;
    padding-left: 2em;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a
{
    color: var(--headerFooterTextColour);
    font-size: 1em;
    font-family: Calibri, sans-serif;
}

tr
{
    width: 100%;
}

td
{
    padding: 10px;
    vertical-align: top;
    min-width: 5em;
}

tr td:first-of-type
{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

tr td:last-of-type
{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

a
{
    color: black;
    font-size: 0.75em;
}

button, input[type=file]::file-selector-button
{
    margin: 5px;
    border-radius: 9px;
    padding: 3px;
    background-color: whitesmoke;
    border: 1.5px solid rgb(230, 230, 230);
    transition-duration: 0.4s;
}

button:hover, input[type=file]::file-selector-button:hover
{
    background-color: var(--brandColour);
    color: white;
    border: 1.5px solid var(--brandColour);
}

label, input[type=range]
{
    vertical-align: middle;
}

.LiveViewButton
{
    float: right;
    position: absolute;
    right: 0.5em;
    z-index: 5;
    display: block;
    visibility: hidden;
    font-size: 1.3em;
}

#BackButton
{
    visibility: hidden;
    background-color: lightgrey;
    color: red;
    border: 1.5px solid darkred;
}

#BackButton:hover
{
    background-color: var(--brandColour);
    border: 1.5px solid var(--brandColour);
    color: white;
}

/* css-loaders.com Loader */

.loader
{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 7px solid;
    border-color: var(--brandColour) #FFFFFF00;
    animation: l1 1s infinite;
    margin: auto;
    margin-bottom: 0.5em;
}
@keyframes l1 {to{transform: rotate(.5turn)}}